.booking-form {
  background-color: var(--primary-green);
  padding-block: 3rem;
  color: var(--highlight-white);

  .form-group {
    display: flex;
    flex-direction: column;

    input,
    select {
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      border: 0;
    }
  }

  .form-group.date,
  .form-group.guests {
    grid-column: 3 / span 3;
  }

  .form-group.time,
  .form-group.occasion {
    grid-column: span 3;
  }

  button {
    grid-column: 9 / span 2;
    grid-row: 1 / span 2;
    font-size: 16px;
    height: fit-content;
    align-self: center;
    padding: 0.5rem 1rem;
    border-radius: 0.8rem;
  }
}
