.footer {
  margin-top: 1rem;
  background-color: var(--primary-green);
  padding-block: 2rem;
  color: var(--highlight-white);

  #footer-logo {
    grid-column: 3 / span 2;
    max-width: 100%;
    max-height: 10rem;
  }

  .nav-links {
    grid-column: span 2;

    h5 {
      margin: 0;
    }

    a {
      color: #dedede;
    }

    a:hover {
      color: rgb(181, 181, 181);
    }
  }
}
