:root {
  --primary-green: #495e57;
  --primary-yellow: #f4ce14;
  --secondary-orange: #ee9972;
  --secondary-yellow: #fbdabb;
  --highlight-white: #edefee;
  --highlight-black: #333333;
}

#root {
  min-height: 100vh;
  max-height: 100vh;
  overflow: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  padding-inline: 2rem;
}

ul.no-default-style {
  list-style-type: none;
  padding: 0;
  margin: 0;

  a {
    text-decoration: auto;
  }
}

.primary-button {
  border-radius: 1rem;
  background-color: var(--primary-yellow);
  padding-block: 0.25rem;
  padding-inline: 0.5rem;
  border: 0;
  font-weight: 600;
  cursor: pointer;
}
